.idea/
.ipynb_checkpoints/
caesarpy/.ipynb_checkpoints/
caesarpy/__pycache__/
caesarpy/elevation_bedrock.ipynb
notebooks/.ipynb_checkpoints/
notebooks/CL_analysis_comparison.ipynb
notebooks/Canche-micro-catchment-comparison.png
notebooks/DEM_D4_Cut_200m_BEST.asc
notebooks/DEM_bedrock.asc
notebooks/DEM_bedrock_30cm.asc
notebooks/DEM_bedrock_3cm.asc
notebooks/DEM_bedrock_50cm.asc
notebooks/EGU2022/
notebooks/Pommeroy-observations.csv
notebooks/Pommeroye-DEM.png
notebooks/Thumbs.db
notebooks/Thumbs.db:encryptable
notebooks/catchment_array.png
notebooks/graindata.txt
notebooks/pit_filling.ipynb
notebooks/plots/
notebooks/report-12-01-2021.pdf
notebooks/report-12-01-2021_files/
notebooks/rotated_MNT.asc
notebooks/rotated_MNT_1m.asc
notebooks/rotated_MNT_5m.asc
notebooks/sithas.asc
notebooks/sithas_redraw.asc
notebooks/soil_thickness.asc
notebooks/test.asc
notebooks/test.out
notebooks/test.tif
notebooks/usgs_data.svg
